/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`

// 這邊可以自定義自己要的樣式
@use 'vuetify/settings' with (
  $rounded: (
    '50': 50px,
  )
);

.background {
  background-color: var(--background);
}
.background-primary {
  background-color: var(--primary);
}
.texts-primary {
  color: var(--primary);
}
.asideMenu {
  background-color: var(--asideMenu);
}
/* vuetify的border無法切換顏色，這邊改自己寫 */
.borders-primary {
  border-left: 3px solid var(--border);
}
.borders-point{
  border: 2px solid var(--border);
}
/* 因為vuetify的padding無法像Tailwind直接在class使用px，所以我這邊自己自定義我的側邊欄的padding */
.nav-content {
  padding: 12px 20px 12px 30px;
}
.active-nav-content {
  padding: 12px 20px 12px 27px;
}
.texts-primary-gray {
  color: var(--primaryGray);
}
.texts-secondary-gray {
  color: var(--secondaryGray);
}
.background-hover {
  background-color: var(--backgroundHover);
}
.texts-secondary-color{
  color: var(--secondary);
}
.progress-bg-color{
  background-color: var(--progress);
}
.texts-lg {
  font-size: var(--font-size-lg);
}
.texts-l {
  font-size: var(--font-size-l);
}
.texts-m {
  font-size: var(--font-size-m);
}
.texts-md {
  font-size: var(--font-size-md);
}
.texts-sm{
  font-size: var(--font-size-sm);
}
.btn-text-white {
  color: var(--asideMenu);
}
.btn-bg-white {
  background-color: var(--card-btn-color);
}
.level-bg {
  background-color: var(--level-bg-color)
}
.white-space-nowrap{
  white-space:nowrap;
}