/* 這個檔案是自己創建的，加入我自定義的暗黑的樣式，以及其他的樣式 */

:root {
  --background: #f6f6f6;
  --asideMenu: #ffffff;
  --primary: #015C61;
  --border: #015C61
}

.dark {
  --background: #121212;
  --asideMenu: #1e1e1e;
  --primary: #ffffff;
  --border:#ffffff
}
